<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Timeline</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/start.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="jumbotron" id="j1">
        <h1>Timeline App</h1>
    </div>
    <div class="cover">
        <h4>Click here to log an entry</h4>
        <button onclick="location.href='/add'" class="btn btn-primary btn-md" >Single day</button>  <button class="btn btn-primary btn-md" onclick="location.href='/addm'">Multi day</button>
        <br />
        <br />
        <button onclick="location.href='/view'" class="btn btn-primary btn-md">View Entries</button>
    </div>
</body>
</html>