<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Timeline</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/display.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link title="timeline-styles" rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
</head>
<body>
    <div class="jumbotron" id="j1">
        <h1>Timeline App</h1>
    </div>
    <div class="cover">
    <script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>

      <div id='timeline-embed' style="width: 100%; height: 600px"></div>

      <script type="text/javascript">
      var event = <%- JSON.stringify(events)%>;
        // optionally, a third argument with configuration options can be passed.
        // See below for more about options.
        timeline = new TL.Timeline('timeline-embed',event);
        console.log(event);
      </script>
    </div>
</body>
</html>
